.no-style {
  all: initial;
  * {
      all: unset;
  }
}

.rarity-dot {
  font-size: 75%;
}

.rarity-normal {
  color: #adadad !important;
}

.rarity-super {
  color: #f1cf5d !important;
}

.rarity-high-end {
  color: #e095b9 !important;
}

.stat-lvl {
	color: #17a040 !important;
	font-weight: bold !important;
}

.stat-lvl-maybe {
  color: #ff5e00 !important;
  font-weight: bold !important;
}

.stat-lvl-big {
  @extend .stat-lvl;
	font-size: 2rem;
	padding-left: 0.5ch;
}

.stat-points {
  color: #ff8800 !important;
  font-weight: bold !important;
}

.stat-points-small {
  @extend .stat-points;
	font-size: 0.75rem;
	padding-left: 0.5ch;
}

.stat-points-big {
  @extend .stat-points;
	font-size: 1.5rem;
	padding-left: 0.5ch;
}

.stat {
  font-weight: normal !important;
}

.is-clipped-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.mkt-navbar {
  background-color: #b6cbe6;
}

@media (prefers-color-scheme: dark) {
  .modal-background {
    background-color: rgba(10, 10, 10, .86) !important;
  }

  .mkt-navbar {
    background-color: #353b44;
  }

  .mkt-navbar .navbar-brand .title {
    color: #b6cbe6;
  }
}